//Color
$color-primary: #C24E00;
$color-secondary: #2ECC71;
$color-background: #f8f9fa;
$color-text-red: #131313;

// Czcionki
$font-main: 'Source Sans 3', sans-serif; 
// Marginesy i paddingi
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// Breakpointy (na responsywność)
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;